<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers E-Commerce</title>
    <link rel="stylesheet" type="text/css" href="stylePaginaCadastroCliente.css">
</head>

<body>
    <div class="box">
        <fieldset>
            <legend><b>Cadastro Endereço de Entrega/Faturamento</b></legend>
            <h2>Dados</h2>
            <form th:action="@{/paginaCadastroEndereco}" th:object="${enderecoEntrega}" method="post" onsubmit="return validateForm();">
                <div class="inputBox">
                    <input type="number" name="cep" id="cep" class="inputUser" th:field="*{cep}" required>
                    <label class="labelInput">CEP</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="logradouro" id="logradouro" class="inputUser" th:field="*{logradouro}" required>
                    <label class="labelInput">Logradouro</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="number" name="numero" id="numero" class="inputUser" th:field="*{numero}" required>
                    <label class="labelInput">Número</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="complemento" id="complemento" class="inputUser" th:field="*{complemento}" required>
                    <label class="labelInput">Complemento</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" nome="bairro" id="bairro" class="inputUser" th:field="*{bairro}" required>
                    <label class="labelInput">Bairro</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" nome="cidade" id="cidade" class="inputUser" th:field="*{cidade}" required>
                    <label class="labelInput">Cidade</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" nome="uf" id="uf" class="inputUser"  th:field="*{uf}" required>
                    <label class="labelInput">UF</label>
                </div>
                <br>
                <input type="submit" name="submit" id="submit">
            </form>
        </fieldset>
    </div>
</body>
</html>